{% raw %}

h1.page-header
    | {% endraw %} {{cookiecutter.app_name | replace('_', ' ') | replace('-', ' ') | title }} {% raw %}

p Welcome !

p This page is the home page of the new site, you should add some text here...

{% endraw %}
